*.class
bin/
__pycache__/
*.pyc

# Maven
target/
.mvn/
mvnw
mvnw.cmd
pom.xml.versionsBackup

# IDE
.vscode/
.idea/
*.iml
.classpath
.project
.settings/

# Allure
.allure/
allure-results/
allure-report/
allure/
allure.properties

# AspectJ
ajcore.*
*.ajcore
ajcore/
Allure*.java  
